<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container mt-4">
    <!-- <p #temp>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, nisi.</p> -->
    <div class="header text-center">
      <h3>User Details</h3>
    </div>
    <form class="row g-3 mt-4" (ngSubmit)="onsubmitclick()" #registrationform="ngForm">
      <div class="col-md-6">
        <label for="inputEmail1" class="form-label"><span class="text-danger">*</span>Name</label>
        <input type="text" class="form-control" id="inputEmail1" name="uname" [(ngModel)]="Uname" ngModel
          pattern="^[a-zA-Z\s'-]+$" required #fname="ngModel">
        <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
          <div *ngIf="fname.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="fname.errors?.['pattern']">
            Invalid Name format
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label for="inputEmail2" class="form-label"><span class="text-danger">*</span>Mobile</label>
        <input type="number" class="form-control" id="inputEmail2" name="umobile" [(ngModel)]="Umobile" ngModel required
          #mname="ngModel" pattern="^[0-9]{10}$">
        <div *ngIf="mname.invalid && (mname.dirty || mname.touched)" class="alert alert-danger">

          <div *ngIf="mname.errors?.['required']">
            Mobile is required.
          </div>
          <div *ngIf="mname.errors?.['pattern']">
            Mobile should contain atleast or atmost contain 10 dight
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label"><span class="text-danger">*</span>Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="uemail" [(ngModel)]="Uemail" ngModel required
          email #ename="ngModel">
        <div>
          <small *ngIf="ename.touched && ename.errors && ename.errors['required']" class="text-danger">*User-Email is a
            required field</small>
          <small *ngIf="ename.invalid && ename.errors && ename.errors['email']" class="text-danger">*Enter a valid email
            address</small>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputpassword" class="form-label"><span class="text-danger">*</span>Password</label>
        <input type="password" class="form-control" id="inputpassword" name="passname" [(ngModel)]="Passname" ngModel
          required #pname="ngModel">
        <div>
          <small *ngIf="pname.invalid && (pname.dirty || pname.touched)" class="text-danger">*name is requied
            filed</small>
        </div>
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="uaddress"
          [(ngModel)]="Uaddress" ngModel>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary"
          [disabled]="fname.invalid || mname.invalid || ename.invalid">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>