<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container mt-4">
        <h2 class="text-center mb-4">Product List</h2>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr class="text-center">
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Links</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listpro">
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.category}}</td>
                    <td>{{p.stock}}</td>
                    <td><a [routerLink]="['/products', p.id]" class="btn btn-primary">ViewDetails</a></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
</body>

</html>