<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container justify-content-between">
        <button type="button" class="btn btn-primary" routerLink="users">Users</button>
        <button type="button" class="btn btn-primary" routerLink="products">Products</button>
        <button type="button" class="btn btn-primary" routerLink="cities">City</button>
      </div>
</body>
</html>